body {
    margin: 0;
    padding: 0;
    }
    
    #background-rm {
        position: relative;
        display: inline-block;
        width: 100%;
        height: 630px;
        /* background-image: url(https://www.xtrafondos.com/wallpapers/paisaje-de-rick-y-morty-9415.jpg);  */
        z-index: 1;
    }
    
    #text-center img {
        position: absolute;
    }
    #text-center img{
        transition: all 300ms;
    }
    #rm-txt {
        width: 750px;
        height: 300px;
        z-index: 2;
        top: 200px;
        left: 350px;
    }
    #text-center img:hover {
        transform: scale(1.15);
    }
    
    #api-txt {
        position: absolute;
        width: 90px;
        height: 75px;
        z-index: 3;
        top: 200px;
        left: 350px;
    }
    
    #rick-gif {
        width: 254px;
        height: 378px;
        z-index: 2;
        top: 252px;
        left: 10px;
    }
    #morty-gif {
        width: 238px;
        height: 343px;
        z-index: 2;
        top: 300px;
        left: 1200px;
    }
    #morty-navbar {
        width: 50px;
        height: 50px;
        margin-right: 10px;
    }
    
    /* FOOTER */
    .containerFooter {
        width: 100%;
        margin-top: 10px;
        padding: 35px 0 30px 0;
        background-color:rgb(255, 255, 255);
        border-top: 0;
    }
    
    .container{
        box-shadow: 0 0 50px #17323d;
        /* border: 2px solid #213f44; */
        border-radius: 20px;
    }
    .animate__animated {
        margin: 0;
        padding: 0;
    }
    .iconos {
        width: 50%;
        text-align: center;
    }
    .card-API {
        transition: all 300ms;
    }

    .card-API:hover {
        transform: scale(1.03);
    }